body {
	color: #333333;
}

div.active:not (.progress ) {
	background-color: #E5E5E5;
	border-top-right-radius: 10px;
	margin: 0 10px 0 0;
	min-height: 470px;
	padding: 20px;
	position: fixed;
	width: 67%;
}

footer {
	background-color: #E5E5E5;
	border-top: 1px solid #CCC;
	padding: 0 0 50px;
	height: 1000px;
	text-align: center;
	font-size: 11px;
}

footer>figure {
	float: right;
}

footer>span {
	vertical-align: middle;
}

hr {
	background: rgba(0, 0, 0, 0) url(../img/divisor.png) center no-repeat;
}

#search-product {
	margin-bottom: 15px;
	width: 88%;
}

.span4 {
	margin: 0;
}

.hero-unit {
	color: white;
	border-radius: 0;
	margin-bottom: 0;
	background: url("../img/bg-help.jpg") repeat-x;
	margin-bottom: 0;
	padding: 30px;
}

.no-margin{
	margin-top:2px;
}

.nav-tabs>li>a {
	border-radius: 5px;
	margin-right: 0;
}

.nav-tabs > li{
	display:block;
	float:none;
	border: 0;
}

li{
	list-style: none;
}

.nav-tabs {
	background-color: #F5F5F5;
	padding-top: 30px;
	padding-left: 10px;
	margin-right: 0;
	min-height: 250px;
	
}

.upload {
	display: block;
	padding: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	margin: 20px 0;
	color: #666;
	text-align: center;
	-webkit-transition: box-shadow linear 0.2s;
	-moz-transition: box-shadow linear 0.2s;
	transition: box-shadow linear 0.2s;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0) inset;
	min-height: 200px;
}

.upload:hover {
	color: #666;
	border: 1px dotted #CCCCCC;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset
}

.icon-off {
	margin-top: -12px;
}

.icon-off:hover {
	color: #ffffff;
}

.icon-remove {
	color: #CCCCCC;
}

.icon-remove:hover {
	color: #ffffff;
}

.pagination {
	text-align: center
}

.stage-header a {
  position: absolute;
  right: 5px;
  top: 5px;
}

.loadmask {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity = 50);
	background-color: #CCC;
	width: 100%;
	height: 100%;
	zoom: 1;
}

.loadmask-msg {
	z-index: 20001;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #6593cf;
	background: #c3daf9;
	padding: 2px;
}

.loadmask-msg div {
	padding: 5px 10px 5px 25px;
	background: #fbfbfb url('../img/loading.gif') no-repeat 5px 5px;
	line-height: 16px;
	border: 1px solid #a3bad9;
	color: #222;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	cursor: wait;
}

.masked {
	overflow: hidden !important;
}

.masked-relative {
	position: relative !important;
}

.masked-hidden {
	visibility: hidden !important;
}

.thumbnail>img {
	width: 255px;
}

.thumbnail {
	margin-bottom: 10px;
}

.content {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  width: 100%;
  vertical-align: top;    
}

.content > .main {
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  padding:0 10px 10px 10px
}

.content > .aside {
  box-flex: 0;
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
  text-align: center;
  width:350px; 
}

#title{
	margin-top: 0
}

#main-form{
	display:none;
	position:absolute;
	right:-9000px;
}

.form-search .input-append{
	width:100%;
}
.form-search .input-append .search-query{
border-radius: 5px 0 0 5px;
width:70%
}
.form-search .input-append .btn{
border-radius: 0 5px 5px 0;	
}

@media (max-width:650px){
	.content, 
	.content > .aside,
	.content > .main{
		display:block;
		width:100%;
		margin:0;
		padding:0
	}
	.content > .aside{
		margin-bottom: 20px;
	}
	#dropbox{
		margin:5px;
	}
	.tab-pane{
		padding:0 10px 0 10px;
	}
	.nav {
		margin:0 10px 0 10px;
	}
	
	.container{
		font-size:0.5em;
	}
	.thumbnail{
		border: none;
	}		
	
}


.row-fluid .thumbnails .span3 {
     width:30%;
     margin-left: 2%;        
     float:left;    
     text-align: center;
}
.row-fluid .thumbnails .span3:nth-child(2n+1) {
     margin-left: 10;     
}

.thumbnail{
	border: none;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
       background-color: white;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;      
    }    
    
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: black;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
    
/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */   
  background: linear-gradient(45deg,  #fff 0%,#ccc 100%); /* W3C */ 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  color: #2283c5;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
  color:black;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #000;

  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 19px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
  opacity: .4;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  .jumbotron:after {
    background-size: 150px 150px;
  }

}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: black;
}

textarea {
width: 100%; 
}

.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.file-wrapper input {
  cursor: pointer;
  font-size: 100px;
  height: 100%;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  position: absolute;
  right: 0;
  top: 0;
}
.file-wrapper .button {
  background: #79130e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  margin-right: 5px;
  padding: 4px 18px;
  text-transform: uppercase;
}

.principalphoto{
	border-top-right-radius: 10px;
	margin: 0 10px 0 0;
	height: 350px;
	width: 500px;
	padding: 20px;
	position: relative;
	text-align: center;
    vertical-align: middle;
    
}

#dropzone{
	margin: 0 0 0 0;
	width: 108.5px;
	height:125px;
	padding: 20px;
	position: relative;
	text-align: center;
    vertical-align: middle;
   
	 
}

#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.btn-bottom{
	text-align: right;
}

.btn-bottom .btn{
	width: 100px;
}

.modal {
	margin: -50px -200px 0 0;
	vertical-align: middle;
	text-align: center;
}

#myModal .modal-body{
    max-height: 700px;
    overflow: visible;
}

